.exercise .exercise-info{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    flex-direction: grid;
    max-width: 330px;

    border: 2px solid white;
    border-radius: 5px;
    margin-top: 5px;

    margin-left: auto;
    margin-right: auto;

    
    font-weight: bold;
    padding-left: 20px;
    text-align: left;

}

.exercise .exercise-info .add-btn {
    padding: 0 .5rem 0 .5rem;
    margin-right: 20px;
    border-radius: 8px;
    outline: none;
    border: none;
    font-size: 30px;
}

.exercise .exercise-info .add-btn:hover {
    transition: .3s ease all;
    transform: scale(1.05);
    background-color: bisque;
    color: rgb(209, 148, 68);
}


/* VOID THIS ATM */