.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: solid 2px blue; */
    margin-right: 16rem;
}


.home .enter-exercise {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 2rem;;

    border: 2px solid rgb(170, 165, 230);
    width: 1200px;
    background: radial-gradient(ellipse at center, #122946 0%, #10111a 100%);    
    border-radius: 2rem;
}




.home .enter-exercise .exercise-name {
    width: 30rem;
    height: 5rem;
    font-weight: bold;
    font-size: 30px;
    border-radius: 2rem;
    text-indent: 12px;
    background: transparent;
    border: 1px solid; 
}

.home .enter-exercise .exercise-name:focus {
    transition: ease .7s all;
    transform: scale(1.025);     
}

.home .enter-exercise .exercise-muscle {
    width: 20rem;
    height: 4rem;
    font-weight: bold;
    font-size: 20px;
    border-radius: 2rem;
    text-indent: 12px;
    border: 1px solid; 
    margin-left: 1rem;
    background: transparent;
}

.home .enter-exercise .exercise-muscle:focus {
    transition: ease .7s all;
    transform: scale(1.025);     
}


.home .enter-exercise .exercise-sets {
    width: 4rem;
    height: 2rem;
    border-radius: 2rem;
    text-indent: 12px;
    border: 1px solid; 
    margin-left: 1rem;
    background: transparent;
}

.home .enter-exercise .exercise-sets:focus {
    transition: ease .7s all;
    transform: scale(1.025);     
}

.home .enter-exercise .exercise-reps {
    width: 4rem;
    height: 2rem;
    border-radius: 2rem;
    text-indent: 12px;
    border: 1px solid; 
    margin-left: 1rem;
    background: transparent;
}

.home .enter-exercise .exercise-reps:focus {
    transition: ease .7s all;
    transform: scale(1.025);     
}

.home .enter-exercise .exercise-weight {
    width: 5rem;
    height: 2rem;
    border-radius: 2rem;
    text-indent: 12px;
    border: 1px solid; 
    margin-left: 1rem;
    margin-right: 3px;
    background: transparent;
}

.home .enter-exercise .exercise-weight:focus {
    transition: ease .7s all;
    transform: scale(1.025);     
}

.home .enter-exercise .add-btn{
    margin-left: auto;
    width: 4rem;
    height: 4rem;
    border-radius: 1.5rem;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid;
    background: radial-gradient(ellipse at center, #163761 0%, #17192b 100%);    
    margin-left: 2rem;
}

.home .enter-exercise .add-btn:hover{
    transition: .3s ease all;
    transform: scale(1.05);
    color: #4b86ce;
}

.home .enter-exercise .add-btn:hover:active{
    transition: .1s ease all;
    transform: scale(1.15);
    background-color: bisque;
    color: rgb(255, 255, 255);
}


/* search */

.home .search {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.home .search .searchbar {
    display: flex;
    justify-content: top;
    flex-direction: column;
}

.home .search .searchbar .search-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    padding: 2rem;
    

    border: 2px solid rgb(170, 165, 230);
    width: 400px;
    background: radial-gradient(ellipse at center, #153357 0%, #131420 100%);    border-radius: 2rem;
    border-radius: 2rem;
    
    font-size: 20px;
    font-weight: bold;
    
    margin: 2rem 2rem 0 2rem;

    
}

.home .search .searchbar .search-input:focus {
    transition: ease .7s all;
    transform: scale(1.1);
}


.home .search .textbox {
    font-weight: bold;
    font-size: 20px;
    border: solid 2px rgb(170, 165, 230);
    
    border-radius: 2rem;
    width: 300px;
    height: 300px;
    margin: 2rem auto auto 2rem;
    background: radial-gradient(ellipse at bottom, #153357 0%, #131420 100%);    border-radius: 2rem;
    text-align: center;
    /* padding-left: 20px; */


}
