.workout-plan {
    /* border: 1px solid green; */
    padding: 4rem;
    margin-top: 0rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 500; 
}

.workout-plan .left {
    border: 1px solid white;
    border-radius: 2rem;
}

.workout-plan .left .plan {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

.workout-plan .left .plan .plan-name {
    /* border: 2px teal solid; */
}

.workout-plan .left .plan .plan-name h3{
    /* border: 2px rgb(255, 255, 255) solid; */

    font-size: 35px;
    font-weight: 1000;
    margin-bottom: 1rem;
}

.workout-plan .left .plan .plan-name input{
    background: none;
    border: 1px white solid;
    padding: .5rem;
    border-radius: 1rem;
}

.workout-plan .left .plan .added{
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.workout-plan .left .plan .each-added{
    /* border: 1px solid rgb(0, 217, 255); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -40px;
    padding-left: 2rem;
    width: 500px;
}

.workout-plan .left .plan .each-added button{
    margin: auto auto 0 auto;
}

.workout-plan .left .plan .each-added button:hover{
    transform: scale(1.1);
    
}

.workout-plan .left .create-plan-btn {
    /* border: 1px solid purple; */
    background: none;
    border: 1px white solid;
    border-radius: 1rem;    
    font-size: x-small;

}

.workout-plan .left .create-plan-btn:hover {
    cursor: pointer;
}

.workout-plan .left .create-plan-btn:active {
    background-color: #122946;
    border: none;
    transition: .3s ease all;
}

.workout-plan .left .create-plan-btn:hover{
    transform: scale(1.1);
}



.workout-plan .right{
    margin-top: 2rem;
    border: 1px solid white;
    border-radius: 2rem;
    padding: 2rem;
}

.workout-plan .right .add-to-plan{
    /* border: 1px solid pink; */
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.workout-plan .right .add-to-plan .x-name{
    background: none;
    border: 1px solid white;
    padding: .5rem;
    border-radius: 1rem;
}

.workout-plan .right .add-to-plan .x-muscle{
    background: none;
    border: 1px solid white;
    padding: .5rem;
    border-radius: 1rem;
}

.workout-plan .right .add-to-plan .x-submit{
    font-size:x-small;
    background: none;
    border: 1px solid white;
    border-radius: 1rem;
}

.workout-plan .right .add-to-plan .x-submit:hover{
    cursor: pointer;
}

.workout-plan .right .add-to-plan .x-submit:active{
    background-color: #214167;
    transition: all .1s ease;
    border: none;
}

.workout-plan .right .search {
}

.workout-plan .right .search .searchbar {
    background: none;
    border: 1px solid white;
    border-radius: 1rem;
    padding: .5rem;
    margin-right: 1rem;
}

.workout-plan .right .search .search-btn {
    background: none;
    border: 1px solid white;
    border-radius: 1rem;
    font-size: x-small;
}

.workout-plan .right .search .search-btn:hover {
    cursor: pointer;
}

.workout-plan .right .search .search-btn:active {
    background-color: #122946;
    transition: all .1s ease;
    border: none;

}

.workout-plan .right .search .searched-results{
    /* border: 1px solid orange; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -40px;
}

.workout-plan .right .search .searched-results button{
}

.workout-plan .right .search .searched-results button:hover{
    transform: scale(1.05);
}


/* BOTTOM */


.bottom {   
    margin-top: 3rem;
}

.bottom h3{
    font-size: xxx-large;
}

.bottom .plans{
    width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.bottom .plans .saved-plan{
    background: radial-gradient(ellipse at top, #122946 0%, #10111a 100%);    
    flex-direction: column;
    display: flex;
    border: 2px solid white;
    border-radius: 2rem;
}
.bottom .plans .saved-plan:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.bottom .plans .saved-plan .plan-name{
    font-size: x-large;
    border-bottom: 1px dashed rgb(227, 226, 219);
    width: fit-content;
    margin: 0 auto 0;
    
}

.bottom .plans .saved-plan .plan-exercises{
    text-align: left;
    padding: 0 1rem 0 1rem;

}

.bottom .plans .saved-plan .rmv-plan-btn {
    margin: auto auto 0 auto;    
    width: 5rem;
    justify-content: center;
    display: flex;
    background-color:#122946;
    border: 1px solid white;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    border-bottom: none;
}

.bottom .plans .saved-plan .rmv-plan-btn:hover {
    cursor: pointer;
    background-color: #214167;
    transition: all ease .2s;
}